<div id="<%= dom_id ai_helper %>">
  <tr>
    <td>
      <%= ai_helper.Name %>
    </td>
    <td>
      <%= ai_helper.Helper_Type %>
    </td>

    <td>
      <%= ai_helper.Twitter %>
    </td>
    <td>
    <p>
      <%= link_to "Show this AI helper", ai_helper, class: 'btn btn-outline-info' %>
    </p>
    </td>
  </tr>
</div>
