<p style="color: green"><%= notice %></p>

<table class="table table-hover table-dark">
<tr>
  <th scope="col">Name:</th>
  <th scope="col">Helper type:</th>
  <th scope="col">Twitter:</th>
  <th scope="col"></th>
</tr>
<tbody>
<%= render @ai_helper %>
</tbody>
</table>

<div>
  <%= link_to "Edit this AI helper", edit_ai_helper_path(@ai_helper), class:"btn btn-success" %>
  <%= link_to "Back to AI helpers", ai_helpers_path, class:"btn btn-success" %>

  <%= button_to "Destroy this AI helper", @ai_helper, method: :delete, class:"btn btn-outline-danger my-3" %>
</div>
